@import "tailwindcss";

@theme{
    --color-logoWhite:#E7E6E2;
    --color-ButtonGray:#F8F9FA;
    --color-SuperPrice:#12B76A;
    --color-SuperPrice-Hover:#157347;
    --color-openRegister: #F04438;
    --color-openRegister-Hover: #BB2D3B;
    --color-mainBlue:#004C91;
    --color-mainBlue-Hover:#0B5ED7;
    --color-lightGray:#F8F9FA;
    --color-gray-Hover:#F8F9FA; 
    --color-shoppingOrange: #F59E0B;
    --color-MainBlue:#101828;
    --color-secondayBlue:#1E2939;
    --color-lightIconBlue:#51A2FF;
}
@layer components{
    .subnavbar button{
        @apply flex items-center h-full cursor-pointer px-4 gap-2;
    }
}